.env
.env.local
.env.*

.cache

.venv/
venv/
ENV/
env/

__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*
*.pkl
*.log

.vscode/
.idea/
*.code-workspace

Thumbs.db
desktop.ini
.DS_Store

build/
dist/
*.egg-info/

secrets.json
credentials.json